.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__itemContainer {
  position: relative;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__item {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
}

.loader__item--1 {
  background-color: $color-primary;
  animation-delay: 0s;
}

.loader__item--2 {
  background-color: $color-secondary;
  animation-delay: 0.5s;
}

.loader__item--3 {
  background-color: $color-tertiary;
  animation-delay: 1s;
}
